<html>
<head>
	<br>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<h1><center><b>Hash Invert</b></center></h1>
	<form  action="{{url_for('invert_bp.index')}}" method="POST">
		<button type="submit" name="home_key" value="home_value" class="btn btn-info">Home</button>
	</form>
</head>

<body style="margin-left: 5px; font-family: Arial;">
	<div class="jumbotron" style="margin-top: -2px;padding-top: 30px; margin-bottom: -30px; padding-bottom: -40px;" >
	<form action="{{url_for('invert_bp.index')}}" method="POST">
		
	
		<center><table class="table table-borderless table-default" style="width:100%;">
    			
	    		<tr class="table table-default" style="width:300px;">
					<td class="table table-default" style="width:20%;padding-top:30px;font-weight: bold;">
						
						<label><h4><b>Algorithm:</b></h4></label>
						<h5>
					
						<div class="form-check">
  							<input class="form-check-input" type="radio" name="algo" id="md5" value="md5" checked>
  							<label class="form-check-label" for="md5"><b>MD5</b></label>
  						</div>
						<div class="form-check">
  							<input class="form-check-input" type="radio" name="algo" id="sha1" value="sha1">
  							<label class="form-check-label" for="sha1"><b>SHA-1</b></label>
  						</div>
  						<div class="form-check">
  							<input class="form-check-input" type="radio" name="algo" id="sha256" value="sha256">
  							<label class="form-check-label" for="sha256"><b>SHA-256</b></label>
  						</div>
  						<div class="form-check">
  							<input class="form-check-input" type="radio" name="algo" id="sha384" value="sha384">
  							<label class="form-check-label" for="sha384"><b>SHA-384</b></label>
  						</div>
  						<div class="form-check">
  							<input class="form-check-input" type="radio" name="algo" id="sha512" value="sha512">
  							<label class="form-check-label" for="sha512"><b>SHA-512</b></label>
  						</div>
  						<div class="form-check">
  							<input class="form-check-input" type="radio" name="algo" id="ntlm" value="ntlm">
  							<label class="form-check-label" for="ntlm"><b>NTLM</b></label>
  						</div>
  				
  						</h5>
					</td>
					<td class="table table-secondary" style="width:1000px; padding-top:40px;padding-bottom: 40px; font-weight: bold;">
						
						<div class="input-group input-group-lg">
							<div class="input-group-prepend">
    							<span class="input-group-text" id="basic-addon1"><b>#hash</b></span>
  							</div>
							<input type="text" class = "form-control" name ="invert" placeholder="Enter a hash to invert" value="{{input_hash}}" style="font-weight: bold">
						</div>

						<br><br>
						<button type="submit" class="btn btn-info btn-lg">Reverse</button>
						<br><br><br>
						<div class="input-group input-group-lg">
							<div class="input-group-prepend">
    							<span class="input-group-text" id="basic-addon1" style="color: {{c_type}};"><h3><b>{{hash_type}}</b></h3></span>
  							</div>
  							<textarea class="form-control" name="inverted" rows="3" placeholder="Your output will be displayed here..." style="font-weight: bold; font-size: 24px;" >{{out}}</textarea>
						</div>
						
					</td>
				</tr>
		</table></center>
		</form>
	</div>
</body>
</html>
